<nav class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand" href="#">Taxistas</a>
</nav>

<div class="container">
  <div class="row">
      <div class="col-md-8">
        <h1>Siguiendo a: <strong class="text-primary">persona</strong></h1>
        ##MAPA##
      </div>
      <div class="col-md-4">
        <h1>Taxistas</h1>
        <p>Seleccione para seguir</p>
        <ul class="list-group">
          <li class="list-group-item">Taxista 1</li>
          <li class="list-group-item">Taxista 1</li>
          <li class="list-group-item">Taxista 1</li>
          <li class="list-group-item">Taxista 1</li>
          <li class="list-group-item">Taxista 1</li>
        </ul>
        <br>
        <button type="button" class="btn btn-primary btn-block">Dejar de seguir</button>
      </div>      
  </div>
</div>
