<ion-header>
  <ion-navbar>
    <ion-title>
      Mi tienda
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let par of productosProvider.productos">
      <ion-col *ngFor="let item of par">
        <img src="http://localhost:8080/rest/public/img/productos/{{item.codigo}}.jpg" alt="">
        <p>
          {{item.producto}}
          <br>
          {{item.precio_compra | currency:'USD':true }}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="siguiente_pagina($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>

</ion-content>
